@font-face {
    font-family: Sandlera;
    src: url(Sandlera.otf);
}

@font-face {
    font-family: code;
    src: url(CODE\ Light.otf);
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    --color-bleucustom: #222831;
    --color-graycustom: #393E46;
    --color-bleulitecustom: #00ADB5;
}

body {
    font-family: code, sans-serif;
}



h1 {
    color: #fff;
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px black;
}

h3 {
    color: #fff;
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px black;
    font-family: code, sans-serif;
}

#header-top {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    background-color: var(--color-bleucustom);
    color: #fff;
    padding: 10px;
    margin: 0px;
    width: 100vw;
    height: 20vh;
}


#header-logo {
    width: 15vw;
    margin-right: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-titre {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-titre h1 {
    font-family: Sandlera, sans-serif; 
}

#header-login {
    width: 10vw;
    border: #fff solid 3px;
    background-color: var(--color-graycustom);
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}

#header-login label {
    font-size: 75%;
    margin: 5px;
}

#logo {
    height: 17vh;
    display: block;
}

label, input {
    display: block;
}

#header-bottom {
    width: 100vw;
    height: 8vh;
    background-image: url(../assets/bookshelves.jpeg);
    background-position: 10px;
    background-repeat: repeat-x;
}

#midle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

nav {
    width: 15vw;
    height: 70vh;
    background-color: #222831;
    border-radius: 0 0 15px 0px;
}


nav .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: #222831 solid 3px;
    background-color: #393E46;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px;
    margin: 20px;
    transition: 300ms;
    font-size: 25px;
}

nav .button:hover {
    background-color: #00ADB5;
}